@import "../../styles/variables/variables";

.lodging-card,
.lodging-card img,
.card-gradient {
    border-radius: 10px;
}
.lodging-card {
    position: relative;
    display: flex;
    aspect-ratio: 1/1;
    width: 100%;
    flex-grow: auto;
    box-sizing: border-box;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    .card-gradient {
        background: $background-color;
        width: 100%;
        height: 100%;
    }
    p {
        position: absolute;
        color: #fff;
        bottom: 0;
        padding: 20px;
        font-size: 18px;
        font-family: Montserrat;
    }
    @media (max-width: 480px) {
        aspect-ratio: 1.35/ 1;
        img {
            width: 90%;
            height: 90%;
            margin-left: 25px;
        }
    }
}
